<header>
  <h1>Schools</h1>
</header>
<table class="table table-striped">
  <thead>
    <tr>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.name, school_path(school) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', students_path %>