<header>
  <h1>Schools</h1>
</header>
<table class="rwd-table">
  <thead>
    <tr>
      <th>School</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
    <tr>
      <td data-th="Schools"><%= link_to school.name, school_path(school), class: "btn btn-info btn-md" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', students_path, class: "btn btn-success btn-lg" %>