<header>
  <h1>
    <%= @school.name %> Students
  </h1>
</header>
<table class="rwd-table">
  <thead>
    <tr>
      <th>Student</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @school.students.each do |student| %>
    <tr>
      <td data-th="Name"><%= student.name %></td>
      <td data-th="Delete"><%= link_to "Delete #{student.name}", student_path(student), method: :delete, class: "btn btn-danger btn-md" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', schools_path, class: "btn btn-success btn-lg" %>